.main-header{
  background: #112B3E;
  padding: 23px 0 13px 27px;

  &__name{
    a{
      text-decoration: none;
      color: #fff;
      -webkit-text-stroke: 1px #000;
      &:hover{
        color: #fff;
      }
    }
    color: #fff;
    font-size: 36px;
  
    &-domen{
      font-size: 24px;
    }
  }
}
